a {
    text-decoration: none;
}


#productCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

#productDetailCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sizediv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.size {
    border-color: green;
    width: 70%;
    padding: 0.5em 0;
    background: transparent;
    text-align: center;
    border-radius: 0.5em;
    transition: 0.3s;
}


#quantity {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

#quantity span {
    margin: 0.3em 0;
    font-size: 20px;
    font-weight: bold;
    padding: 0 2em;
}

#quantity span:nth-child(2) {
    border-right: 1px solid green;
    border-left: 1px solid green;
}

.minus,
.plus {
    cursor: pointer;
}

.btn-addToBag {
    margin-top: 3em;
    width: 70%;
    padding: 1em 0;
    border-radius: 0.5em;
    background-color: green;
    border: none;
    color: white;
}

.btn-addToBag:hover {
    background-color: rgb(3, 153, 3);
}